/*INDEX HTML*/

#body{
  background-color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#root {
  background-color: black;
}

/*PAGINA HOME*/


.App {
  text-align: center;
  background-color: #070707;
  color: white;
}

.navbar-style{
  
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  
  
}



.logo {
  height: 8vmin;              /*logo navbar*/
  pointer-events: none;
}


.Home{
  background-color: black;
  
  
}


.foto{
  height: 110vmin;   /*foto home*/
  
}

.foto2 {
  height: 110vmin;   /*foto home*/

}
.foto3 {
  height: 110vmin;     /*foto home*/

}



/* Aggiungi questo stile PAGINA CONTACT */


.contatti{
  margin-top: 15rem;
}
.container {
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.contact-form {
  margin: 20px auto;
  max-width: 400px;
  
}

.contact {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.contacts-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.containercontact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


/*css pagina gallery card Gare ed Eventi*/



.container{
  margin-top: ;
  margin-bottom: 5rem; 
  
      
}

.Button{
  background-color: #0e0e0d;     /*BUTTON CARD*/
}


.Gare{
  margin-top: 6rem;
  margin-bottom: 3rem;   /*titolo gare ed eventi*/
  
  color: white;
}


/*css footer*/

.footer{
  margin-top: 15rem;
  color: white;
  text-align: center;
  

  
}

/*PAGINA LOGIN*/

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}


Button {
  margin-top: 10px;
  
}