@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');


/*INDEX HTML*/

body {
  
  background-image: url('immagini/sfondo.jpg');
  color:#dfd0d0 ;
}



/*PAGINA HOME*/


.Home {
  
  text-align: center;
  display: inline-block;


}

.App {
  text-align: center;
  
  color: white;

}

.navbar-style {
  background-color: rgb(77, 73, 73);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Playfair Display', serif;
  color: rgb(235, 224, 224);
  font-size: larger;

}

/* Media query per NAV BAR schermi con larghezza massima di 768px (modalità mobile) */
@media (max-width: 768px) {
  .navbar-style {
    background-color: rgb(46, 44, 44);
    /* applico solo per schermi più piccoli */
  }
}

.logo {
  height: 8vmin;
  /*logo navbar*/
  pointer-events: none;
  margin-left: 3rem;
}


h1 {
  font-family: 'Playfair Display', serif;
  color: rgb(220, 210, 210);
  /* TUTTI TITOLI */
}

p{
  font-family: 'Farsan', cursive;
  font-family: 'Handlee', cursive;
  font-size:larger;
  color: rgb(220, 210, 210);
}

/*CAROSELLO HOME*/

.foto {
  height: 80vmin;
  /*foto home*/
  display: inline-block;

}

.foto2 {
  height: 80vmin;
  /*foto home*/
  display: inline-block;
}

.foto3 {
  height: 80vmin;
  /*foto home*/
  display: inline-block;
}

@media (max-width: 768px) {
  .foto {
    height: 50vmin;
    /* applico solo per schermi più piccoli */
  }
}



/* PAGINA CONTACT */




.contatti {
  margin-top: 15rem;
}

.container {

  display: flex;
  flex-direction: column;

  padding: 20px;
}

.contact-form {
  margin: 20px auto;
  max-width: 400px;

}

.contact {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.contacts-list {
  margin-top: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.containercontact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.contact-form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}




/*CSS GARE EVENTI*/



.containerGare {
  display: flex;
  flex-direction: column;
  
}



.Gare {/*titolo gare ed eventi*/
  
  margin-bottom: 6rem;
  font-family: 'Playfair Display', serif;
  color: rgb(220, 210, 210);
}


.cardimage {
  width: 40%;
  
}

.cardimage:hover {
  filter: brightness(80%);
  
}

.cardimage:hover p {
  color: red;
}


.card-title {
  font-family: 'Playfair Display', serif;
  font-size: xx-large;
  color: rgb(220, 210, 210);
  margin-top: 7rem;
}

.card-text{
  font-family: 'Farsan', cursive;
  font-family: 'Handlee', cursive;
  font-size: large;
  color: rgb(220, 210, 210);
}

/*CSS FOOTER*/

.footer {
  margin-top: 15rem;
  color: white;
  text-align: center;
  
  
  
}

/*PAGINA LOGIN*/

.login-title {
  margin-top: 20rem;
}



.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  
}


/*CSS TUTTI BUTTON*/

.Button:hover {
  background-color:transparent;
  border-color: red;
  
}


.Button {
  background-color:transparent;
  border-color: transparent;
  font-family: 'Playfair Display', serif;
  font-size: larger;

    
}