@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');


/*INDEX HTML*/

#body {
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#root {
  background-color: black;
}

/*PAGINA HOME*/


.Home {
  background-color: black;
  text-align: center;
  display: inline-block;


}

.App {
  text-align: center;
  background-color: #070707;
  color: white;

}

.navbar-style {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Playfair Display', serif;

}

/* Media query per NAV BAR schermi con larghezza massima di 768px (modalità mobile) */
@media (max-width: 768px) {
  .navbar-style {
    background-color: rgb(46, 44, 44);
    /* applico solo per schermi più piccoli */
  }
}

.logo {
  height: 8vmin;
  /*logo navbar*/
  pointer-events: none;
}




/*FOTO CAROSELLO HOME*/

.foto {
  height: 80vmin;
  /*foto home*/
  display: inline-block;

}

.foto2 {
  height: 80vmin;
  /*foto home*/
  display: inline-block;
}

.foto3 {
  height: 80vmin;
  /*foto home*/
  display: inline-block;
}

@media (max-width: 768px) {
  .foto {
    height: 50vmin;
    /* applico solo per schermi più piccoli */
  }
}

/* PAGINA CONTACT */


.contatti {
  margin-top: 15rem;
}

.container {

  display: flex;
  flex-direction: column;

  padding: 20px;
}

.contact-form {
  margin: 20px auto;
  max-width: 400px;

}

.contact {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.contacts-list {
  margin-top: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.containercontact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.contact-form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}




/*css pagina gallery card Gare ed Eventi*/



.containerGare {
  display: flex;
  flex-direction: column;
  padding: 150px;
}

.Button {
  background-color: #0e0e0d;
  border-color: red
    /*BUTTON CARD*/
}


.Gare {

  margin-bottom: 6rem;
  /*titolo gare ed eventi*/
  color: white;
}


.cardimage {
  width: 40%;

}

.cardimage:hover {
  filter: brightness(80%);

}

.cardimage:hover p {
  color: red;
}




/*css footer*/

.footer {
  margin-top: 15rem;
  color: white;
  text-align: center;



}

/*PAGINA LOGIN*/

.login-title {
  margin-top: 10rem;
}



.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;

}


.Button:hover {
  background-color:
    red
}